.home-container {
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  height: 85%;

  width: 90%;
}
.main-img {
  height: 65vh;
  margin: 10px;
}
.buttons{
  display: flex;
  width: 60%;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  overflow: auto;

  width: 100%;
}
@media all and  (max-width:768px) {
  .main-img{
    height: 16Vh;
  }
  .home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons{
    margin-top: 10px;
  }
  
}